<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274852128654-9jdub52ma0ffl71rorgpvr8ead4gfk2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274852128654-9jdub52ma0ffl71rorgpvr8ead4gfk2k</string>
	<key>API_KEY</key>
	<string>AIzaSyCvQsG-qRsdKZ66T6N3Mwno8kzXxDFE11k</string>
	<key>GCM_SENDER_ID</key>
	<string>274852128654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sendMe.send</string>
	<key>PROJECT_ID</key>
	<string>send-me-8ec14</string>
	<key>STORAGE_BUCKET</key>
	<string>send-me-8ec14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274852128654:ios:9d7e021e8e8037547ca6df</string>
</dict>
</plist>